{% if user.is_authenticated %}
<!DOCTYPE html>
<head>
    <title>SVEIKI</title>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'Homepage' %}">KamiWeb</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'Homepage' %}">Pagrindinis</a></li>
            <li><a href="{% url 'Toolpage' %}">Įrankis</a></li>
            <li><a href="{% url 'Toolqueries' %}">Užklausos</a></li>
            <li><a href="{% url 'Mapcreate' %}">Žemėlapio kūrimas</a></li>
            <li><a href="{% url 'Mapview' %}">Žemėlapiai</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'Logout' %}"><span class="glyphicon glyphicon-user"></span> Atsijungti</a></li>
          </ul>
        </div>
      </nav>


      {% if messages %}
      {% for message in messages %}
          <div class="message text-center alert alert-info {{message.tags}}">
              {{ message }}
          </div>
      {% endfor %}
      {% endif %}
    <h1 class="greeting">Sėkmingai prisijungėte, <b>{{request.user}}</b></h1>
    <p> <b>Žemiau galite matyti vartotojo vadovą</b></p>
    <object
    type="application/pdf"
    data="{% static 'files/user-manual.pdf' %}"
    style="position:absolute;" 
    width="100%"
    height="100%"
    >
    </object>

    <footer class="text-center p-4">©qam1le, 2023<br>qam1le@mail.lt</footer>
{{ redirect_to_login_immediately }}
  </body>
{% endif %}