{% if user.is_authenticated %}
<!DOCTYPE html>
<head>
    <title>SVEIKI</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="body">
    <header class="header"> </header>
<!------------------MENIU------------------------->
    <div class="sidenav">
        <p class="greeting">Sveiki {{request.user.username}}</p>
        <a href="{% url 'Homepage' %}">Pagrindinis</a>
        <a href="{% url 'Toolpage' %}">Įrankis</a>
        <a href="{% url 'Toolqueries' %}">Užklausos</a>
        <a href="#">Apie</a>
        <a href="#">Kontaktai</a>
        <button class="logout"><a href="{% url 'Logout' %}">ATSIJUNGTI</a></button>
    </div>

    <h1 class="greeting">Sėkmingai prisijungėte</h1>
    <p style="color:white">Readme failas apie atnaujinimus is github</p>

</body>
{% endif %}