<!DOCTYPE html>
<head>
    <title>SVEIKI</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="body">
    <header class="header"> </header>
<!------------------MENIU------------------------->
    <div class="sidenav">
        <a href="{% url 'Index' %}">Pagrindinis</a>
        <a href="{% url 'Login' %}">Prisijungti</a>
        <a href="{% url 'Register' %}">Registruotis</a>
        <a href="#">Apie</a>
        <a href="#">Kontaktai</a>
    </div>

    <h1>Sveiki atvyke :)</h1>

</body>