<!DOCTYPE html>
<head>
    <title>PRISIJUNGIMAS</title>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'Index' %}">KamiWeb</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="{% url 'Index' %}">Pagrindinis</a></li>
            <li><a href="#">Apie</a></li>
            <li><a href="#">Kontaktai</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'Register' %}"><span class="glyphicon glyphicon-user"></span> Registruotis</a></li>
            <li class="active"><a href="{% url 'Login' %}"><span class="glyphicon glyphicon-log-in"></span> Prisijungti</a></li>
          </ul>
        </div>
      </nav>
<!------------------PRISIJUNGIMO FORMA------------------------->
    <br>
    <div>
        <form action="" method="POST">
            {% csrf_token %}
            {% if messages %}
            {% for message in messages %}
                <div style="background-color: red; color:white; border-radius:20px;" class="alert-dismissible" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
            {% endif %}
            
            
            <div class="container mt-3">
                <h2>PRISIJUNGIMAS</h2>
                <br>
                <form action="" method="POST">
                {% csrf_token %}
                  <div class="mb-3 mt-3">

                  <div class="mb-3 mt-3">
                    <label for="username">Įveskite prisijungimo vardą:</label>
                    <input type="text" class="form-control" id="username" placeholder="PRISIJUNGIMO VARDAS" name="username" required>        
                  </div>
                  <br>
                  <div class="mb-3">
                    <label for="password">Įveskite slaptažodį:</label>
                    <input type="password" class="form-control" id="password" placeholder="SLAPTAŽODIS" name="password" required>
                  </div>
            
                  <br>
                  <button type="submit" class="btn btn-primary">PRISIJUNGTI</button>
                </form>
              </div>
        <br>
<!------------------NUORODA I REGISTRACIJA------------------------->
        <p><b>Lankotės pirmą kartą?</b><br><br> <a href="{% url 'Register' %}" class="hyperlink">REGISTRUOKITĖS</a></p>
        <br>
    </div>
</body>