<!DOCTYPE html>
<html>
    <head>
        <title>REGISTRACIJA</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body class="body">
        <header class="header"> </header>
        <!------------------MENIU------------------------->
        <div class="sidenav">
            <a href="{% url 'Index' %}">Pagrindinis</a>
            <a href="{% url 'Login' %}">Prisijungti</a>
            <a href="#">Apie</a>
            <a href="#">Kontaktai</a>
        </div>
        
        <h1 style="color:white;">REGISTRACIJA</h1>
        <div class="box">
            {% if messages %}
            {% for message in messages %}
                <div style="background-color: red; color:white; border-radius:20px;" class="alert-dismissible" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
            {% endif %}
            <form action="" method="POST">{% csrf_token %}

                <!-- INPUT FORMS -->
                <label for="email">EL. PAŠTAS</label><br>
                <input class="form" type="email" id="email" name="email" placeholder="EL. PAŠTAS" required><br>

                <label for="username">PRISIJUNGIMO VARDAS</label><br>
                <input class="form" type="text" id="username" name="username" placeholder="PRISIJUNGIMO VARDAS" required><br>
                <label for="password">SLAPTAŽODIS</label><br>
                <input class="form" type="password" id="password" name="password" placeholder="SLAPTAŽODIS" required><br>
                <label for="password">PAKARTOTI SLAPTAŽODĮ</label><br>
                <input class="form" type="password" id="password-repeat" name="password-repeat" placeholder="PAKARTOTI SLAPTAŽODĮ" required><br>

                <!-- CHECKBOX -->
                <input type="checkbox" id="remember_me" name="remember_me" value="Remember">
                <label for="remember_me">Įsiminti</label>
                
                <br><br>

                <!-- REGISTER SUBMIT BUTTON -->
                <input class="btn" type="submit" value="REGISTRUOTIS">

                <br><br>
                <!-- SIGN IN -->
                <p>Turite paskyrą? <a class="hyperlink" href="{% url 'Login' %}"> PRISIJUNGTI </a></p>
            </form>
        </div>
    </body>
</html>