{% if user.is_authenticated %}
<!--ATLIKTU UZKLAUSU SARASAS IR GALIMYBE SPAUSDINTI ATASKAITA/-S-->
<!DOCTYPE html>
<head>
    <title>UZKLAUSU ISTORIJA</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="body">
    <header class="header"></header>
    <!------------------MENIU------------------------->
    <div class="sidenav">
        <p class="greeting">Sveiki {{request.user.username}}</p>
        <a href="{% url 'Homepage' %}">Pagrindinis</a>
        <a href="{% url 'Toolpage' %}">Įrankis</a>
        <a href="{% url 'Toolqueries' %}">Užklausos</a>
        <a href="#">Apie</a>
        <a href="#">Kontaktai</a>
        <button class="logout"><a href="{% url 'Logout' %}">ATSIJUNGTI</a></button>
    </div>

    <br><br>

    
    <div class="box">
        <h1>JŪSŲ UŽKLAUSŲ ISTORIJA</h1><br>

        <!--FOR CIKLAS KIEKVIENAM ELEMENTUI-->
        {% for img in image %}
        <details>
            <summary class="summary">{{ img.image_name }}</summary>
            <input style="width:20%;height:20%;" type="image" src="{{ img.image_file.url }}" href="{% url 'Toolpage' %}" alt="Perziureti faila" />
            <table>
                <tbody>
                    <tr>
                        <td>Pavadinimas pagal spėjimą</td>
                        <td>Koordinates</td>
                        <td>Spėjimo patikimumas</td>
                    </tr>
                    
                    <tr>
                        {% if google.description %}
                        <td>{{ google.description }}</td>
                        <td>{{ google.latitude }}, {{ goo.longitude }}</td>
                        <td>{{ google.score }}%</td>
                        {%else%}
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        {%endif%}
                    </tr>
                </tbody>
            </table>
            <button class="btn" type="submit" style="float:right;"><a style="color:white;" href="{% url 'Deleteitem' image_id=img.id %}">Pašalinti🗑️</a></button>
            
        </details><br>
       
        {% empty %}
            <p class="details">Ką nors <a style="color:white;" href="{% url 'Toolpage' %}">įkelkite</a></p>
        {% endfor %}
        
    </div>
</body>
{% endif %}